{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },

  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [ "node_modules", "src/"]
      }
    }
  },
  "plugins": [
    "jsx-a11y",
    "prettier"
  ]
 }